@media only screen and (max-width:768px)
{
    .loginmotham
    {
        background-color: #f1f7fd;
    }
    .theloginmenu
    {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
    }
    .headme 
    {
        text-align: center;
    }
    .headme h3
    {
        color: var(--Danube-950, #1D2C4E);
    font-family: Onest;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    .headme p
    {
        color: var(--Danube-950, #1D2C4E);
font-family: Onest;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
}